<h3>Login to BIBINI-Products</h3>

<p>Please enter your credentials below to access BIBINI-Products.</p>

<% if @failed %>
	<div id="error">
		<p>Username/Password incorrect.</p>
	</div>
<% end %>

<form action="/login" method="POST">
	<p><label for="username">Username:</label><br>
	<input type="text" id="username" name="username"><br><br>
	
	<label for="password">Password:</label><br>
	<input type="password" it="password" name="password"><br><br>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<p class="center">Go back to <a href='/'>Main Page</a></p>