<h3>All products for <em><%= @user.username %></em>:</h3>
<ul>
<% @user.products.each do |product| %>
  <li><p><a href="/products/<%= product.id %>"><%= product.title %></a></p></li>
<% end %>
</ul>

<p class="center"><a href="/products">Browse All products</a> || <a href='/'>Main Page</a></p>