<h3>Add a Review to the Product</h3>

<% if @product.errors.any? %>
   <div id="error">

   <div id="error">
     <h3><%= @product.errors.count %> error(s) occured :</h3>
 
     <ul>
         <% @product.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
     </ul>
  </div>
<% end %>