<h3>Add a Review to the Product</h3>

<% if @product.errors.any? %>
   <div id="error">

   <div id="error">
     <h3><%= @product.errors.count %> error(s) occured :</h3>
 
     <ul>
         <% @product.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
     </ul>
  </div>
<% end %>


<form method="post" action="/products/<%= @product.id %>">
    <p><input id="hidden" type="hidden" name="_method" value="patch">

    <label for="reviews">review:</label><br>
    <textarea id="review" name="review" rows="10" cols="40" ></textarea><br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> 