
<p>About this product:
<pre><%= @reviews %></pre></p>

<% if @views %>
    <h3>'<%= @words %>'</h3>
  <% else %>
    <p>oops, <%= @user.username %>, try again:<br>
 
<% end %>

<form action='/reviews/' method="post">
  <p><label for="views">this is your review:</label>
    <input type="hidden" id="views" name="views">
   
</form>



<p class="center"><a href="/products">Browse All products</a> || <a href='/'>Main Page</a></p>


