



<p>About this product:
<pre><%= @reviews %></pre></p>


<br><a href="/reviews:<%= @reviews %>">Click here</a> to ADD A REVIEW.</p>



<p class="center"><a href="/products">Browse All products</a> || <a href='/'>Main Page</a></p>


