  
<h3 style="color:red;">Welcome to BIBINI-Products!</h3>
<p>THE BEST PLATFORM TO PROMOTE ALL BUSINESSES AND SERVICES</p>
<p> Connect and share your products with people around the world.  Create an account today to gain access to all the features BIBINI-Products have to offer!</p>

<% if logged_in? %>
   
    View <a href='/products'>all products</a> or <a href="/logout">logout</a></p>
<% else %>
    <p>You are not logged in. <br><br>
    To gain access, please <a href="/login">Login</a> or <a href="/signup">Create an account</a>.</p>
<% end %>

</div>
